body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(152, 152, 152, 0.8);
}

.container {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.page {
  flex: 0 0 100%;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}

.page:nth-child(1) {
  background-color: rgb(175, 235, 212);
}

.page:nth-child(2) {
  background-color: rgb(175, 189, 235);
}

.page:nth-child(3) {
  background-color: rgb(235, 175, 200);
}

.page:nth-child(4) {
  background-color: rgb(177, 235, 175);
}
